@{
	ViewBag.Title = "nH";
}
@functions{
	public string GetAntiForgeryToken()
	{
		string cookieToken, formToken;
		AntiForgery.GetTokens(null, out cookieToken, out formToken);
		return cookieToken + ":" + formToken;
	}
}

<div id="main-content">
	<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

	<section id="lists" data-bind="foreach: list, visible: list().length > 0">
		<div>
			<span data-bind="text: created, scroll: true"></span>
			<span data-bind="text: repo"></span>
			<span data-bind="text: message"></span>
		</div>
	</section>
</div>
